
# ignore all files in the node_modules/ directory and any of its subdirectories
node_modules/

# ignore all files .json
*.json

# ignore all files in the node_modules/ directory and any of its subdirectories
.vs/